
<%- include('partials/header') -%>
<body>
    <nav>
        <div class="nav-wrapper #26a69a teal lighten-1">
            <a href="/preventBurnout" class="brand-logo">Prevent Burnout</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/login"> Login</a></li>
            <li><a href="/signup"> Signup</a></li>
          </ul>
        </div>
    </nav>
<h1>Login to your Account</h1>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <form action="/login" method="POST" class="log center-align z-depth-2 col s12">
      <p class="account">Don't have an account? <a href="/signup"> Sign-up here!</a> </p>
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button class=" center-align btn waves-effect waves-light button" type="submit" >Submit</button>
    </form>
</section>


<%- include('partials/footer') -%>
</body>
</html>